<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <dx-file-uploader selectButtonText="Select CSV" labelText="" accept="csv" uploadMode="useForm"
          (onValueChanged)="onUploadStarted($event)" [showFileList]="false">
        </dx-file-uploader>
      </div>
      <div class="card-body">
        <div id="app-container">
          <!-- <dx-data-grid [dataSource]="accountFileUpload" [allowColumnResizing]="true" [columnAutoWidth]="true"
        [allowColumnReordering]="true" [showBorders]="true" [columnAutoWidth]="true">
        <dxo-toolbar>
          <dxi-item name="groupPanel"></dxi-item>
          <dxi-item location="after">
            <dx-button [text]="expanded ? 'Collapse All' : 'Expand All'" [width]="136" (onClick)="expanded = !expanded">
            </dx-button>
          </dxi-item>
          <dxi-item name="addRowButton" showText="always"></dxi-item>
          <dxi-item name="columnChooserButton"></dxi-item>
          <dxi-item name="searchPanel"></dxi-item>
        </dxo-toolbar>
        <dxi-column dataField="parent_account_id" [groupIndex]="0">
        </dxi-column>
        <dxo-group-panel [visible]="true"></dxo-group-panel>
        <dxo-pager [allowedPageSizes]="[10,20,30,40,50]" [showPageSizeSelector]="true" [showNavigationButtons]="true">
        </dxo-pager>
        <dxo-grouping [autoExpandAll]="expanded"></dxo-grouping>
        <dxi-column dataField="account_id"></dxi-column>
        <dxi-column dataField="name"></dxi-column>
        <dxi-column dataField="status"></dxi-column>
      </dx-data-grid> -->
          <dx-tree-list [dataSource]="accountFileUpload" [rootValue]="''" keyExpr="account_id"
            parentIdExpr="parent_account_id" [autoExpandAll]="expanded" [allowColumnReordering]="true"
            [allowColumnResizing]="true" [columnAutoWidth]="true" [showRowLines]="true" [expandedRowKeys]="[1]">
            <dxo-toolbar>
              <dxi-item location="after">
                <dx-button [text]="expanded ? 'Collapse All' : 'Expand All'" [width]="136"
                  (onClick)="expanded = !expanded">
                </dx-button>
              </dxi-item>
              <dxi-item name="searchPanel"></dxi-item>
            </dxo-toolbar>

            <!-- <dxi-column dataField="parent_account_id"></dxi-column> -->
            <dxi-column dataField="account_id"></dxi-column>
            <dxi-column dataField="name"></dxi-column>
            <dxi-column dataField="status"></dxi-column>

            <dxo-filter-row [visible]="true"></dxo-filter-row>
            <dxo-search-panel [visible]="true"></dxo-search-panel>
            <dxo-selection mode="single"></dxo-selection>

            <dxo-paging [enabled]="true" [pageSize]="10">
            </dxo-paging>
          </dx-tree-list>
        </div>
      </div>
    </div>
  </div>
</div>
